/*ESTILOS CSS DEL EJERCICIO 046*/

/*ESTILOS EN SECCIONES PRINCIPALES*/
body{
    margin: 0;
    padding: 0;
    background-color: #4d4d4d;
}
header{
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
main{
    background-color: #f2f2f2;
    width: 80%;
    margin: 0 auto;
    padding: 70px 25px;
}
header h1{
    margin: 0;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav li{
    display: inline-block;
    margin-right: 20px;
}
nav a{
    text-decoration: none;
    color: #fff;
}
nav a:hover{
    color: #ffcc00;
    text-decoration: underline;
}
section{
    padding: 20px;
}
#catalogo table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
#catalogo td, #catalogo th{
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
#catalogo th{
    background-color: #000000;
    color: #fff;
}
iframe{
    width: 100%;
    height: auto;
}
/*ESTILOS EN SECCIONES PRINCIPALES*/

/*ESTILOS EN ID*/
#ultimas_ofertas img{
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 10px;
}
#servicios img{
    float: left;
    margin-right: 20px;
    width: 50%;
    border-radius: 10px;
}
#servicios article{
    margin-bottom: 20px;
    clear: both;
    display: table;
}
/*ESTILOS EN ID*/

/*ESTILOS EN CLASS*/
/*ESTILOS EN CLAS*/

/*ESTILOS EN FOOTER*/
footer{
    background-color: #333;
    padding: 30px;
    color: #fff;
    text-align: center;
}
/*ESTILOS EN FOOTER*/